body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(17, 17, 17);
    margin: 0;
    background-image: url('brr.jpg');
}

.header{
    padding-bottom: 5px;
    background-color: transparent;
    display: block;
    overflow: hidden;
    color: white;
    margin: 20px;
    padding: 10px;
    font-weight: 100;
    position: fixed;

}

.a{
    display: block;
    overflow: hidden;
    background-color: transparent;
    width: auto;
    float: right;
    color: white;
    text-align: center;
    margin-right: 9px;
    padding: 20px;
    float: right;

}

.header :hover{
    background-color: #007aff;
    padding:20px;
}

.Intro{
    display: block;
    overflow: hidden;
    color: white;
    text-align: center;
}

.Itext{
    text-align: center;
    text-transform: uppercase;
    padding: 0%;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 200px;
    padding-bottom: 300px;
}

.img{
    width: 50%;
    height: 50%;
    padding: 0px;
    margin: 0px;
}

.t{
    color: white;
    text-align: center;
}

.begin{
    color: white;
    text-align: center;
    width: 400px;
}

.unt{
    text-align: left;
    float: right;
}

.tt{
    color: white;
    margin-bottom: 40px;
}

.linky{
    text-align: center;
    padding: 50px;
    margin-bottom: 300px;
}

.butikk{
    background-color: #007aff;
    color: white;
    padding: 20px;
    border-radius: 19px;
    margin-bottom: 30px;
}

.butikk:hover{
    color: #ffcc00;
    padding: 30px;
}

.lastdiv{
    display: block;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
}

.lastt{
    color: aliceblue;
    float: right;
    padding-right: 20px;
}

.model{
    margin-left: 650px;
}

.model::before{
    margin-left: 650px;
}

.model:hover{
    margin-left: 650px;
}
