body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(17, 17, 17);
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header{
    padding-bottom: 5px;
    background-color: transparent;
    filter: blur(70%);
    background: blur(70%);
    display: block;
    overflow: hidden;
    color: white;
    margin: 20px;
    padding: 10px;
    font-weight: 100;
}


.a{
    display: block;
    overflow: hidden;
    background-color: transparent;
    width: auto;
    float: right;
    color: white;
    text-align: center;
    margin-right: 9px;
    padding: 20px;
}

.header :hover{
    background-color: #007bff;
    padding:20px;
}

.e{
    color:white;
    float: right;
    padding-right: 800px;
}

.ee{
    color:white;
    float:right;
    padding-right: 580px;
    margin-top: -400px;
}

.eee{
    color: white;
    background-color: #007aff;
    padding: 20px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 15px;
    float: right;
    font-size: larger;
    margin-right: 820px;
    margin-top: -500px;
}
